
/* ==========================================================================
   UNHCR-specific
   ========================================================================== */

/* Variables */
$dark-blue: #1B2932;
$teal: #5ED9DB;
$grey-medium: #E9EDEF;
$grey-light: #F8FAFB;

$blue-map: #6d84ec;
$grey-dark: #333333;
$orange-dark: #d64a2b;
$brown-light: #e6c68b;
$header-bg-color: $grey-dark;

$navbar-height: 50px;
$checkbox-height: 30px;

/** From Bootstrap **/
$screen-xs-max: 768px;
$screen-md-min: 992px;


/* Basics */

html,
body,
main
{ height: 100%; }

/* this class is added to the body once we determine our language */
body.lang-AR {
  direction: rtl;
  @media (min-width: $screen-xs-max) {
    font-size: 16px;
    h3 {
      font-size: 16px;
    }
  }
}

body {
  font: 12px "Open Sans", "Helvetica", "Arial", sans-serif;
  padding-top: $navbar-height; /* to compensate for fixed navbar */
  background-color: $grey-light;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}
h2 {
  font-size: 14px;
  font-weight: bold;
}
h3 {
  font-size: 12px;
  font-weight: light;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
   -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
     -o-transition: color 0.2s;
        transition: color 0.2s;
}

.btn-secondary {
    font: 14px "Open Sans";
    font-weight: lighter;
    color: white;
    background-color: $teal;
    border-radius: 0px;

    &:visited, &:active {
      color: white;
    }

    &:hover {
      color: black;
    }
}


/* Utilities */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 12px solid #5ED9DB;
}

#activeFilters {
  margin-top:2px;
  padding-left: 5px;
}

/* Header */
#searchNav {
  background-color: $dark-blue;
  min-height: $navbar-height;  
  box-shadow:0px 1px 10px rgba(0, 0, 0, 0.35);

  #filterSummary {
    background-color: white;
    min-height: 40px;
  }

  .filter-pill {
    background-color: $teal;
    color: white;
    text-transform: none;
  /* overwrite Bootstrap label styling*/
    font-size: 120%;
    font-weight: normal;
    line-height: normal;
    margin-right: 5px;
    border-radius: 15px;

    &:after {
      font-family: "FontAwesome";
      content: "\f00d";
      margin-left: 6px;
    }

    &:hover {
      color: black;
    }

    &:focus {
      padding-top: 2.9px;
    }
  }

  #selectedLanguage {
    font-weight: bold;
  }


  @media (min-width: $screen-xs-max) {
    #navbar {
      padding-top: 8px
    }

    #filterSummary {
      margin-left: -3px; /* to align with map zoom buttons */
      /* overwrite Bootstrap well styling*/
      margin-bottom: 5px;
      padding: 2px;
    }

    #preferences {
      margin-top: 5px;
    }

    #selectedLanguage {
      margin-top: -1px;
      margin-right: -15px;
      min-height: 40px;
      padding: 10px;
      float: right;
    }
  }

  @media (max-width: $screen-xs-max) {
    #filterSummary {
      padding: 3px 3px 0px;
      margin: 5px 0px 5px -3px;
    }

    #preferences {
      margin-top: 5px;

      // override padding from grid because the select box for language was squished against the filters
      padding: 0;
      position: fixed;
      right: 5px;
    }

    #selectedLanguage {
      min-height: 41px;
      min-width: 45px;
      padding: 3px;
      width: auto;
    }
  }
}

/* Filters */
#filterForm {
  padding: 10px;
}

#filters {
  z-index: 10;
  box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.15);
  position: fixed;  
  background-color: $grey-light;
  
  @media (min-width: $screen-md-min) {
    height:400px;
    overflow-y:scroll;
    overflow-x:hidden;
    top: -554px;    
    box-shadow: 0px 5px 15px rgba(0,0,0,.15);
  }

  #applyFilter {
    margin-bottom:10px;
  }

  @media screen and (max-width: 1000px) {              
    left:-1000px;
    width:85%;   
  }

  @media screen and (min-width: 770px) and (max-width: 985px) {
    top:57.5px;       
  }

  label {
    text-align: left;
    font-size: 12px;
    background-color: $grey-medium;
    border: 2px solid $grey-light;

    padding: 12px;

    @media (min-width: $screen-md-min) {
      &:nth-of-type(odd) {
        border-right-width: 10px;
      }
      &:nth-of-type(even) {
        border-left-width: 10px;
      }
      &:nth-of-type(2) {
        border-right-width: 10px;
        border-left-width: 0;
      }
    }

    div.pull-right {
      margin: -10px -5px -5px;

      img {
        margin-top: -15px;
      }

      input[type=checkbox] {
        height: $checkbox-height;
        width: $checkbox-height;
      }
    }
  }
  -webkit-transition: all 0.65s;
  -moz-transition: all 0.65s;
  -o-transition: all 0.65s;
  transition: all 0.65s;
  overflow: scroll;

  @media screen and (max-width: 900px) {
    height: 95%;
  }
}

#filters.active { 
  
  @media screen and (max-width: 985px) {    
    left:-4px;    
  }

  @media (min-width: 990px) {
    top:54px;
  }
}

@media screen and (max-width: 981px){  
  .overlay-tint {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);    
      position: fixed;
      bottom: 0;    
      left:0;
      opacity:0;
      visibility:hidden;

      -webkit-transition: opacity 0.8s;
      -moz-transition: opacity 0.8s;
      -o-transition: opacity 0.8s;
      transition: opacity 0.8s;
      
      &.active {             
          visibility:visible;            
          opacity:1;
          cursor: pointer;
      }        
      
  }
}

.filterCtrl {  
  height:90%;
}

.organization-label {
  height: 50px;
}
.organization-logo {
  height: 30px;
}


/* Map styles */
#mapContainer {
  height: 100%;
  clear: both;
  direction: ltr;

  @media screen and (max-width: 768px) {
    height: 75%;
     &.map-hide {
      height: 0%; /* hide by setting height so that map is still loaded correctly */
    }
  }
}

/* Map Popup styles */
.leaflet-popup-content {
  font-size: 12px;

  p {
    font-size: 12px;
    margin: 0;
  }

  h3 {
    font-size: 14px;
    margin: 0;
  }

  h4 {
    font-size: 12px;
    margin: 0;
  }
  > .serviceText {
      margin: 0;
      border-bottom: none;
  }
}

.leaflet-top.leaflet-left {
  z-index:5;
}

.leaflet-popup-content .serviceText header { padding: 0 !important; }
.leaflet-popup-content .serviceText p { margin: 2px 0 !important; }
.leaflet-popup-content .serviceText img { width: 100px; }

/* Sidebar */
#serviceList {
  height: 94vh; /* compensate for the scroll buttons */
  overflow-y: scroll;
   
  div.col-xs-5 {
    background-color: white;
    padding: 5px;
    text-align: center;

    &:first-child {
      border-left: 10px solid $grey-medium;
      border-right: 10px solid $grey-medium;
      padding: 10px;
    }
    &:last-child {
      border-right: 10px solid $grey-medium;
      margin-bottom: 10px;
      padding: 10px;
    }
  }

   div.col-xs-7 {
    background-color: white;
    padding: 5px;
    text-align: center;
    &:first-child {
      border-left: 10px solid $grey-medium;
      padding: 10px;
    }
    &:last-child {
      border-right: 10px solid $grey-medium;
      margin-bottom: 10px;
      padding: 10px;
    }
  }

  .-map-icon {
    font-family: FontAwesome, sans-serif;
  }

 //--search results lists
  .list-group-padding {
    :first-child,
    :last-child {
      margin-top: 5px;
      padding-bottom: 0px;
      padding-top: 0px;
    }
  }

  //--main list
//  .list-group {
//    :first-child,
//    :last-child {
//      margin-top: 5px;
//    }
//  }

  .ng-scope > a.list-group-item {
    margin-top:7px;
    border-radius: 0px !important;
    background-color: $grey-medium;
    border: 1px solid $grey-light;
    color: black;
    cursor: pointer;
    &.active {
      background-color: $grey-medium !important;
      border-radius: 0px;
    }

    .icon {
      padding: 3px;
    }

    .badge {
      background: none;
      font-weight: normal;
      color: black;
    }

    .media-heading{
      margin-bottom: 5px;
      padding-top: 10px;
    }

    .media-object {
      display: block;
      padding-right: 5px;
    }

  }
  .activities > a.list-group-item {
    margin: 0 1px;
    border: 1px solid $grey-medium;
    border-top:0px;
    border-bottom:0px;
    background:$grey-light;
    line-height:1;
    border-radius:0px !important;
    color: #337ab7 !important;
    border-bottom: 1px solid $grey-medium;
    cursor:pointer;
    &:last-child {
//      border-top: 1px solid $grey-medium;
    }
  }
  button {
    margin: 25px 0px 5px -15px;
    padding: 7px 15px 6px 10px;
    font-size: 1em;
    border: 1px solid $grey-medium;
  }

  button:hover{
    background-color: $grey-medium;
  }

  .instructions {
    margin-top: 20px;
  }
}

//-- flexbox
.list-result-wrapper{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
}

.list-result-title{
  flex-flow: row wrap;
}
.list-result-image{
  flex-flow: column wrap;
}


.service-details-partner-logo {
  float:right !important;
  margin:1em !important;
}

#serviceDetails {
  background-color: $grey-medium;
  border-radius: 0px;
  border: 0px;
  padding: 10px;

  .service-details-container-row-1 {
    padding:5px;
  }

  div.col-xs-6 {
    background-color: white;
    padding: 5px;

    &:first-child {
      border-right: 10px solid $grey-medium;
    }
    &:last-child {
      border-left: 10px solid $grey-medium;
      margin-bottom: 20px;
    }
  }

  .row {
    margin: 0px;
    background-color: $grey-medium;
  }

  table {
    margin-top:1em;
    margin-bottom: 0px;

    td {
      border-top: 0px;

      &:first-child {
        font-weight: bold;
      }
    }

    tbody>tr:nth-of-type(odd) {
      background-color: white;
    }
  }

  div {
    padding-top:10px;
    text-align:center;
  }

  table.office-hours {
    margin: 0 auto;
    td.day-name {
      text-align: right;
      padding-right: 10px;
    }
    td.day-time {
      text-align: left;
    }
  }
}



/* Toggle styles */
#map-list-toggler {
  border: 1px solid darken($orange-dark, 20%);
  font-size: 14px;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;

  span {
    display: inline-block;
    padding: 1px 8px;
    margin: 0;
    background-color: #fff;
    color: $orange-dark;

    &.active {
      background-color: $orange-dark;
      color: #fff;

      &:hover { cursor: default; }
    }
  }
}

.advancedToggler {
  cursor: pointer;
  position: absolute;
  top: 130px;
  right: 20px;
}

/* List styles */
#list {
  display: none;
}

.serviceText {
  border-bottom: 1px solid darken($grey-medium, 20%);

  &.expand {
    .content {
      display: block;
    }
  }

  header {
    padding: 10px;

    &:hover { cursor: pointer; }

    * { margin: 0; }
    > img {
        float: right;
        margin: 0 10px 0 10px;
    }
    > h3 {
      display: inline;
    }
    > a {
      margin-left: 6px;
    }
  }

  .content {
    display: none;
    padding: 0 10px 10px 10px;

    > p {
      margin: 2px 0;
    }
  }
  .comments {
    margin-top: 10px;
  }
}

/* Marker styles */
.awesome-marker i {
  font-size: 24px !important;
  margin: 2px 0 0 8px !important;
}



/* Filter Togglers */
ul.filter-togglers {
  font-size: 13px;
  font-weight: bold;
  margin: 0 100px 0 0;
  padding: 0 5px;

  li {
    float: left;
    list-style: none outside none;
  }

  a {
    color: $grey-medium;
    display: block;
    padding: 5px;
    text-decoration: none;

    &:hover,
    &.active {
      color: $grey-dark;
    }
  }
}

/* Filter contents */
.filter-contents {
  display: none;
}

.filter,
.advanced-search {
  border-bottom: 1px solid $header-bg-color - #101010;
  border-top: 1px solid $header-bg-color + #111111;
  padding: 10px;
}

/* Activity Category */
#activityName {

  label {
    display: inline-block;
    margin: 5px 0;
    position: relative;
    width: 290px;
  }

  .filter-label-value {
    margin-left: 23px;
  }
}

.services-advisor-title {
  float: left;
}
.toggle-map-search {
  float: right;
  margin-top: 14px !important; // have to override id selector :(
}

.glyph {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5em;
  vertical-align: sub;
  padding-left: 15px;
}

.activities .glyphicon {
  display: inline;
  font-size: 1.5em;
  vertical-align: sub;
}

/* Referral Required */
#referralRequired {
  label {
    display: inline-block;
    margin: 5px 10px 5px 0;
  }
}
#referral-required-filter-value-yes { display: none !important; }

/* Advanced Search */
.advanced-search {

  &.active > h4 i:before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  > h4 {

    &:hover,
    &:focus {
     color: $brown-light;
     cursor: pointer;
    }
  }

  .filter {
    border-bottom: 0 none;
    display: none;
    margin-top: 10px;
  }
}
/* Organization */
#partnerName {
  max-height: 300px;
  overflow: auto;

  label {
    float: left;
    height: 40px;
    //min-width: 210px;
    position: relative;
    width: 25%;

    @media only screen and (max-width: 600px) { width: 100%; }
    @media only screen and (min-width: 601px) and (max-width: 800px) { width: 50%; }
    @media only screen and (min-width: 801px) and (max-width: 1024px) { width: 33%; }
    @media only screen and (min-width: 1025px) { width: 25%; }
  }

  .filter-label-value {
    display: inline-block;
    width: 82px;
  }

  .glyph {
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    left: 6px;
    height: 30px;
    position: relative;
    top: 8px;
    width: 120px;
    z-index: 2;
  }
}

i.glyphicon { font-size: 24px; margin-right: -13px; }
i.glyphicon.icon-ocha-item-reliefgood { color: #f96a1b; }
i.glyphicon.icon-ocha-sector-cash { color: #a48658; }
i.glyphicon.icon-ocha-sector-protection { color: #1f497d; }
i.glyphicon.icon-ocha-sector-health { color: #08a1d9; }
i.glyphicon.icon-ocha-sector-wash { color: #7030a0; }
i.glyphicon.icon-ocha-sector-foodsecurity { color: #006600; }
i.glyphicon.icon-ocha-sector-education { color: #c00000; margin-right: -5px; }
i.glyphicon.icon-ocha-sector-shelter { color: #989aac; }

#proximity .leaflet-control-filter-fieldset {
  width: 50%; display: inline-block;
  .filter-option { width: 200px; display: inline-block; }
}

.pfc-custom-pointer { cursor: crosshair; }

#region .filter-option { display: inline-block; width: 170px; }


body.lang-EN {
  .x-search-result-header {
    font-size: 14px;
  }
}
