{
    "extends": "eslint:recommended",
    "globals": {
        "angular": true,
        "jQuery": true,
        "L": true,
        "$": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": 0,
        "no-unused-vars": 1
    }
}