# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules/*
css/main.css
.idea/
*.iml
bower_components/
js/*
!js/.gitkeep
.DS_Store

# people running the site will copy the .dist to this location
src/site-specific-config.js
