# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules/*
css/main.css
.idea/
*.iml
bower_components/
js/app.js
.DS_Store
js/services_AR.json.bak
js/services_EN.json.bak
