# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules/*
.DS_Store
web/*
!web/favicon.ico
!web/humans.txt
!web/robots.txt
!web/.htaccess

# people running the site will copy the .dist files
src/site-specific-config.js
service-list-retrieval/config.js
rev-manifest.json
