      <form id="filterForm" class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-12 col-md-6 pull-right">
            <div class="pull-right">
              <button id="applyFilter" type="button" class="btn btn-secondary" ng-click="toggleFilters();">
                {{ 'OK' | translate }}
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <label for="referral-all" class="col-xs-12 col-md-4 control-label">
                {{ 'ALL' | translate }}
                <div class="pull-right">
                  <input type="radio" name="referral-radio" ng-model="referral.selection" ng-click="toggleReferral(this)" id="referral-all" value="all">
                </div>
              </label>
              <label for="referral-required" class="col-xs-12 col-md-4 pull-left control-label">
                {{ 'REFERRAL_REQUIRED' | translate }}
                <div class="pull-right">
                  <input type="radio" name="referral-radio" ng-model="referral.selection" ng-click="toggleReferral(this)" id="referral-required" value="referral-required">
                </div>
              </label>
              <label for="referral-not-required" class="col-xs-12 col-md-4 pull-left control-label">
                {{ 'REFERRAL_NOT_REQUIRED' | translate }}
                <div class="pull-right">
                  <input type="radio" name="referral-radio" ng-model="referral.selection" ng-click="toggleReferral(this)" id="referral-not-required" value="referral-not-required">
                </div>
              </label>
            </div>
          </div>
        </div>

        <h3>{{ 'NATIONALITY' | translate }}</h3>

        <div class="form-group nationality-form-group">
          <div ng-repeat="nation in nationalities">
            <label class="col-xs-12 col-md-4 control-label nationality-label">
              {{ nation }}
              <div class="pull-right">
                <input type="checkbox" ng-click="toggleNationality(nation)" value="">
              </div>
            </label>
          </div>
        </div>

        <h3>{{ 'ORGANIZATIONS' | translate }}</h3>

        <div class="form-group organizations-form-group">
            <div ng-repeat="organization in organizations">
              <label class="col-xs-12 col-md-4 control-label organization-label">
                {{organization.name}}
                <div class="pull-right">
                  <img class="organization-logo" ng-src="{{organization.logoUrl}}" onError="this.onerror=null;this.style.display='none';"/>
                  <input ng-checked="filterSelection.indexOf(organization.name) > -1" ng-click="toggleSelection(organization.name)" type="checkbox" value="">
                </div>
              </label>
            </div>
        </div>

      </form>
