<div class="row">
  <h1 class="services-advisor-title">{{ 'SERVICES_ADVISOR' | translate }}</h1>
  <!-- TODO: huge hack here using global variable to be able to call map.invalidateSize() on map so it resizes -->
  <button id="toggleMapButton" type="button" class="btn btn-default visible-xs toggle-map-search"
          onclick="toggleMap()">
    {{ 'TOGGLE_MAP' | translate }}
  </button>
</div>

<div class="row">
  <p class="instructions">{{'SEARCH_TEXT' | translate}}</p>
</div>
<search></search>
<div class="row">
  <collapsible label="'CATEGORY'" collapsed="false">
    <ul class="menu list-group" language-direction-attr>
      <li ng-repeat="item in categories.children" class="list-group-item">
        <menu-item item="item" type="'category'"></menu-item>
      </li>
    </ul>
  </collapsible>
</div>

<div class="row" ng-if="regions">
  <collapsible label="'REGION'" collapsed="true">
    <ul class="menu list-group">
      <li ng-repeat="item in regions.children" class="list-group-item">
        <menu-item item="item" type="'region'"></menu-item>
      </li>
    </ul>
  </collapsible>
</div>

<div class="row" ng-if="organizations">
  <collapsible label="'ORGANIZATIONS'" collapsed="true">
    <div class="form-group organizations-filters">
        <div class="organization-pill pull-left" ng-repeat="organization in organizations">
          <div class="pill-inner">
            <label class="control-label">
              <span class="organization-name">{{ organization.name }}</span>
              <div class="pull-right">
                <img class="organization-logo" ng-src="{{organization.logoUrl}}" onError="this.onerror=null;this.style.display='none';"/>
                <search-checkbox value="organization.name" namespace="'organization'"></search-checkbox>
              </div>
            </label>
          </div>
        </div>
    </div>
  </collapsible>
</div>
<div class="row logo-space">
  <div class="col-xs-6"><a href="https://peacegeeks.org/" alt="Peacegeeks Homepage" target="_blank">{{ 'POWERED_BY' | translate }}</a></div>
  <div class="col-xs-6"><logo></logo></div>
</div>
<div field="helpText" class="row help-text">
  <div class="col-xs-12"><p ng-bind-html="'HELP_TEXT' | translate | linky:'_blank'"></p></div>
</div>
<div ng-show="feedbackMail" class="row feedback">
  <div class="col-xs-12">{{ 'INQUIRIES' | translate }}<br /><a href="mailto:{{ feedbackMail }}">{{ feedbackMail }}</a></div>
  <i class="fa fa-street-view" aria-hidden="true"></i>
</div>

<script>
  $('#mapContainer').addClass('map-hide');
</script>
