<div class="row">
  <h1 class="services-advisor-title">{{ 'SERVICES_ADVISOR' | translate }}</h1>
  <!-- TODO: huge hack here using global variable to be able to call map.invalidateSize() on map so it resizes -->
  <button id="toggleMapButton" type="button" class="btn btn-default visible-xs toggle-map-search"
          onclick="toggleMap()">
    {{ 'TOGGLE_MAP' | translate }}
  </button>
</div>

<div class="row">
  <p class="instructions">{{'SEARCH_TEXT' | translate}}</p>
</div>
<search></search>
<div class="row">
  <h3>{{ 'CATEGORY' | translate }}</h3>
  <ul class="menu list-group" language-direction-attr>
    <li ng-repeat="item in categories.children" class="list-group-item">
      <menu-item item="item" type="'category'"></menu-item>
    </li>
  </ul>
</div>

<div class="row" ng-if="regions">
  <h3>{{ 'REGION' | translate }}</h3>
    <ul class="menu list-group">
      <li ng-repeat="item in regions.children" class="list-group-item">
        <menu-item item="item" type="'region'"></menu-item>
      </li>
    </ul>
</div>

<div class="row logo-space">
  <div class="col-xs-6"><a href="https://peacegeeks.org/" alt="Peacegeeks Homepage" target="_blank">{{ 'POWERED_BY' | translate }}</a></div>
  <div class="col-xs-6"><logo></logo></div>
</div>

<script>
  $('#mapContainer').addClass('map-hide');
</script>
