<article class="serviceText">
    <header>
        <img src="{{ service.logoUrl }}" alt="{{ service.organization.name }}" onError="this.onerror=null;this.style.display='none'"/>
        <h3><i class="glyphicon icon-{{ service.category.sector.glyph }}"></i> {{ service.region }}: {{ service.category.subCategory.name }}</h3>
        <p>
            <strong>{{ 'ORGANIZATION' |translate }}:</strong>
            <span>{{ service.organization.name }}</span>
        </p>
        <p ng-if="service.publicAddress">
            <strong>{{ 'ADDRESS' | translate }}:</strong>
            <span>{{ service.publicAddress }}</span>
        </p>
        <p ng-if="service.referral.type">
            <strong>{{ 'REFERRAL_METHOD' | translate }}:</strong>
            <span>{{ service.referral.type }}</span>
        </p>
        <p ng-if="service.intakeCriteria != false" class="text-crimson">
            <strong>{{ 'INTAKE_CRITERIA' | translate }}:</strong>
            <span ng-if="service.intakeCriteria">{{ service.intakeCriteria }}</span>
        </p>
        <div ng-if="service.infoLink" class="more-info">
            <a class="btn btn-primary btn-xs" href="{{ service.infoLink }}" target="_blank" role="button">{{ 'INFO_LINK' | translate }}</a>
        </div>
    </header>
</article>