<div data-ng-controller="ServiceCtrl">

  <div class="row">

    <div class="col-xs-6">
      <button id="backButton" type="button" class="btn btn-default" href="#"
          ng-click="goBackFromService();">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{ 'BACK' | translate }}
      </button>
    </div> <!-- /col-xs-6 -->

    <div class="col-xs-6">
        <!-- TODO: huge hack here using global variable to be able to call map.invalidateSize() on map so it resizes -->
        <button id="toggleMapButton" type="button" class="btn btn-default visible-xs pull-right"
                onclick="toggleMap()">
        {{ 'TOGGLE_MAP' | translate }}
      </button>
    </div> <!-- /col-xs-6 -->

  </div> <!-- /row -->

  <div class="row">
    <!-- service details header section -->
    <div class="col-xs-12">
      <img class="service-details-partner-logo" ng-src="{{service.partnerLogoUrl}}" onError="this.onerror=null;this.style.display='none'"/>
      <div>
        <h1>{{service.region}}</h1>
        <p> {{service.category.subCategory.name}}</p>
      </div>
    </div>
    <!-- service details information section -->
    <div id="serviceDetails" class="panel panel-default col-xs-12">

        <!-- First row  -->
        <div class="col-xs-6 service-details-container-row-1">
          <h2>{{ 'HOURS' | translate }}</h2>
          <table class="office-hours">
            <tr data-ng-repeat="day in officeHours">
              <td class="day-name">{{ day.name }}</td><td class="day-time">{{ day.time }}</td>
            </tr>
          </table>
        </div>
        <div id="activity-details" class="col-xs-6 service-details-container-row-1">
          <h2>{{ 'ACTIVITY_DETAILS' | translate }}</h2>
          <p data-ng-repeat="serviceProvided in service.servicesProvided">{{serviceProvided}}</p>
        </div>


        <!-- Second row (Table display) -->
        <table class="table table-striped col-xs-12">
          <tbody>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'START_DATE' | translate }}</td>
              <td class="col-xs-6  pull-right">{{service.startDate}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'END_DATE' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.endDate}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'NATIONALITY' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.nationality}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'INTAKE_CRITERIA' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.intakeCriteria}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'ACCESSIBILITY' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.accessibility}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'COVERAGE' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.coverage}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'AVAILABILITY' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.availability}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'REFERRAL_METHOD' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.referralMethod}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'REFERRAL_NEXT_STEPS' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.referralNextSteps}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'FEEDBACK_MECHANISM' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.feedbackMechanism}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'FEEDBACK_DELAY' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.feedbackDelay}}</td>
            </tr>
            <tr class="col-xs-12">
              <td class="col-xs-6 pull-left">{{ 'COMPLAINTS_MECHANISM' | translate }}</td>
              <td class="col-xs-6 pull-right">{{service.complaintsMechanism}}</td>
            </tr>
          </tbody>
        </table>
    </div> <!-- /service-details -->

  </div> <!-- /row -->

</div> <!-- /div ServiceCtrl -->
