var config = {};

config.api_user = {
    user: 'username',
    pass: 'password'
};

config.languages = [
  {
    name : 'English',
    abbrev : 'EN',
    url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/service-locations',
    auth: {
      username: 'username',
      password: 'password1'
    },
    downloaded_json  : '../web/js/services_amani_EN.json',
    transformed_json : '../web/js/services_EN.json',
    sectors_url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/service-sectors',
    sectors_file : '../web/js/sectors_EN.json',
    locale_url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/service-strings',
    locale_file : '../web/js/locale-EN.json'
  },
  {
    name : 'Arabic',
    abbrev: 'AR',
    url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/ar/service-locations',
    downloaded_json : '../web/js/services_amani_AR.json',
    transformed_json : '../web/js/services_AR.json',
    sectors_url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/ar/service-sectors',
    sectors_file : '../web/js/sectors_AR.json',
    locale_url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/ar/service-strings',
    locale_file : '../web/js/locale-AR.json'
  },
];

module.exports = config;
