var config = {
    protocol: 'http',
    host: 'example.com',
    auth: {
        username: 'example',
        password: 'password!'
    },
    languages: ['en', 'ar'],
    dest: '../web/js'
};

module.exports = config;
