config = {};

config.languages = [
  {
    name : 'English',
    abbrev : 'EN',
    url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/service-locations',
    downloaded_json  : '../js/services_amani_EN.json',
    transformed_json : '../js/services_EN.json',
    sectors_url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/service-sectors',
    sectors_file : '../js/sectors_EN.json',
    locale_url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/service-strings',
    locale_file : '../js/locale-en.json'
  },
  {
    name : 'Arabic',
    abbrev: 'AR',
    url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/ar/service-locations',
    downloaded_json : '../js/services_amani_AR.json',
    transformed_json : '../js/services_AR.json',
    sectors_url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/ar/service-sectors',
    sectors_file : '../js/sectors_AR.json',
    locale_url : 'http://affinity:bridge@dev.unhcrjordan.peacegeeks.org/ar/service-strings',
    locale_file : '../js/locale-ar.json'
  },
];

module.exports = config;
